<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt={{recipe.name}} class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div  ngbDropdown class="btn-group">
                <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
                <ul ngbDropdownMenu class="dropdown-menu">
                    <li ngbDropdownItem><a style="cursor: pointer;"(click)="onAddToShoppingList(recipe.ingredients)">To shopping List</a></li>
                    <li ngbDropdownItem><a style="cursor: pointer;" (click)="onNavigate(id)">Edit Recipe</a></li>
                    <li ngbDropdownItem><a style="cursor: pointer;">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{recipe.description}}
        </div>
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item"*ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }} - {{ ingredient.amount }}
                </li>
            </ul>
        </div>
    </div>
</div>
